    <%- include('_header') %>
        <div class="d-flex flex-row">
            <div class="p-2 flex-fill"></div>
            <div class="p-2 flex-fill">
                <h4>Login Up</h4><br>
                <div class="alert alert-primary hide"></div>
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group"> 
                                <label for="email"></label>
                                <input placeholder="email" class="form-control" id="email" type="email" required name="email" >
                            </div>
                            <div class="form-group"> 
                                <label for="password"></label>
                                <input placeholder="password"  required class="form-control" id="password" type="password" name="password">
                            </div>
                            <button class="btn btn-primary">login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="p-2 flex-fill"></div>

        </div>

    </div>

    <script>
       
       const form = document.querySelector('form')
       const emailError = document.getElementById('email')
       const passwordError =  document.getElementById('password')

       form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        const error = document.querySelector('.alert')
        let email = form.email.value
        let password = form.password.value

        error.classList.add('hide')

        try{
            const res = await fetch('/', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type' : 'application/json' }
            })
            let data = await res.json()

            if(data.message){
                error.textContent = data.message
                error.classList.remove('hide')
                setTimeout(()=>{
                error.classList.add('hide')
                emailError.value = ""
                passwordError.value = ""
                }, 4000)
            }

            if(data.worker){
                location.assign('/welcome')
            }
                       
            console.log(data)
        }catch(err){
           
            console.log(err)
        }

       })
        
    </script>
</body>
</html>