    <%- include('_header') %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-none d-lg-block">
          <div class="text-center">
            <img src="../img/workapp.png" width="70%"/>
          </div>
          
          <p class="text-center mt-4" style="font-size: 1.3rem;">
            WorkApp is a simple task management app for teams. It allows team members to post updates on their tasks, collaborate in real-time through commenting. 
          </p>
        </div>
        <div class="col-lg-6 col-12">
            <div style="font-size: 1.8rem; font-weight :bold" class="text-center">WorkApp</div>
            <div class="d-block d-lg-none">
              <p>WorkApp is a simple task management app for teams. It allows team members to post updates on their tasks, collaborate in real-time through commenting.</p>
            </div>
            <hr/>
          <h5>Sign up</h5><br>
            <div class="alert alert-primary hide"></div>
            <div class="card">
                <div class="card-body">
                    <form action="/post" method="POST">
                        <div class="form-group"> 
                            <label for="name"></label>
                            <input placeholder="name" id="name" class="form-control" type="name" required name="name" >
                        </div>
                        <div class="form-group"> 
                            <label for="email"></label>
                            <input placeholder="email" id="email" class="form-control" type="email" required name="email" >
                        </div>
                        <div class="form-group"> 
                            <label for="password"></label>
                            <input placeholder="password" id="password" required class="form-control" type="password" name="password">
                        </div>
                        <button class="btn btn-primary">sign up</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <script>
       
       const form = document.querySelector('form')
       const emailError = document.getElementById('email')
       const passwordError =  document.getElementById('password')
       const nameError =  document.getElementById('name')

       
       form.addEventListener('submit', async (e)=>{
        e.preventDefault()

        //reset 

        const error = document.querySelector('.alert')
        let email = form.email.value
        let password = form.password.value
        let name = form.name.value

        error.classList.add('hide')

        try{
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({email, password, name}),
                headers: { 'Content-Type' : 'application/json' }
            })
            let data = await res.json()
           
            if(data.message){
                error.textContent = data.message
                error.classList.remove('hide')
                setTimeout(()=>{
                error.classList.add('hide')
                emailError.value = ""
                passwordError.value = ""
                nameError.value =""
                }, 4000)
            }
            if(data.worker){
                location.assign('/welcome')
            }
            
            console.log(data)
        }catch(err){
           
            console.log(err)
        }

       })
        
    </script>
</body>
</html>