.hide{
    display: none;
}

.sm{
    font-size: 14px;
    color:rgb(185, 185, 185) ;
}

.jumbotron{
    padding: 20px 20px;
}

.jumbotron h5{
    margin-top: -10px;
}

.p-tb{
    padding:20px 0px;
}
.landingHome{
    color:#000;
    font-weight: 400;
}

.landingHome:hover{
    color:rgb(56, 56, 56);
}

.container{
    border-radius: 10px;
}
.alert{
    margin: 10px 0px;
}

